<div class="page-heading">

    <h1>Borrow</h1>
  
</div>
<form action="/book/borrow" method="POST" enctype="multipart/form-data">
  
    <div class=”control-group”>
  
      <div class="form-group floating-label-form-group controls">
  
        <label>Name</label>
  
        <input type="text" class="form-control" id="studentName" name="studentName">
  
      </div>
  
    </div>
  
    <div class=”control-group”>
  
      <div class="form-group floating-label-form-group controls">
  
        <label>Student Id</label>
  
        <input type="text" class="form-control" id="studentId" name="studentId">
  
      </div>

      <div class=”control-group”>
  
        <div class="form-group floating-label-form-group controls">
    
          <label>Book</label>
    
          <input type="text" class="form-control" id="bookName" name="bookName">
    
        </div>
  
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Borrow</button>
    </div>
  
  </form>